@tailwind base;
@tailwind components;
@tailwind utilities;

/* Todo: 차크라 제거 이후 적용할 것 */

/* .global-style {
  font-size: '62.5%';
  max-width: 43rem;
  color: '#2D2D2D';
  background-color: '#FCFCFC';
  margin: '0 auto';
} */
