@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LineSeedKR';
  font-weight: 100;
  src: url('font/LINESeedKR-Th.woff2') format('woff2');
}
@font-face {
  font-family: 'LineSeedKR';
  font-weight: 400;
  src: url('font/LINESeedKR-Rg.woff2') format('woff2');
}
@font-face {
  font-family: 'LineSeedKR';
  font-weight: 700;
  src: url('font/LINESeedKR-Bd.woff2') format('woff2');
}
@layer base {
  html {
    @apply w-full bg-background font-[LineSeedKR] text-[62.5%] text-black-700;
  }

  body {
    font-size: 1.6rem;
  }

  .app-layout {
    /* TODO: Chakra UI 걷어내면 제거 */
    max-width: 43rem;
    margin: 0 auto;
  }

  .sticky {
    /* -webkit-sticky: Safari 브라우저 호환 */
    position: -webkit-sticky;
    position: sticky;
  }

  /* DatePicker Calendar 스타일링 */
  input[type='date']::-webkit-calendar-picker-indicator {
    background-image: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  input::-webkit-date-and-time-value {
    display: none;
  }

  input[type='date'] {
    appearance: none;
    -webkit-appearance: none;
  }

  /* Input type=number 버튼 제거 */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* FireFox */
  input[type='number'] {
    appearance: none;
    -moz-appearance: textfield;
  }

  input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    width: 2.1rem;
    height: 2.1rem;
    cursor: pointer;
    background-image: url('/icons/close.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
}

@layer utilities {
  .w-app {
    @apply relative -left-[2rem] w-[calc(100%+4rem)];
  }
}
