@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LineSeedKR';
  font-weight: 100;
  src: url('font/LINESeedKR-Th.woff2') format('woff2');
}
@font-face {
  font-family: 'LineSeedKR';
  font-weight: 400;
  src: url('font/LINESeedKR-Rg.woff2') format('woff2');
}
@font-face {
  font-family: 'LineSeedKR';
  font-weight: 700;
  src: url('font/LINESeedKR-Bd.woff2') format('woff2');
}

@layer base {
  html {
    font-size: 62.5%;
    width: 100%;
    color: #2d2d2d;
    background-color: #fcfcfc;
    font-family: LineSeedKR;
  }
  .app-layout {
    max-width: 43rem;
    margin: 0 auto !important;
  }
}
